.labelContainer{
    color: white;
    font-size: 16px;
    padding: 8px;
    font-weight: 600;
}

.activeLabelContainer {
    color: red;
    cursor: pointer;
    font-weight: 600;
}

.labelContainer:hover{
    color: red;
    cursor: pointer;
    font-size: 20px;
    transition: 0.4s ease;
    font-weight: 600;
}